<!DOCTYPE html>
<html lang="en">
<head> <!-- AWAL HEAD -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenStore</title>
    <link rel="shortcut icon" href="zenstore_image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="zenstore_image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="templates/styless.css">
</head> <!-- AKHIR HEAD -->


<body> <!-- AWALAN BODY -->
    
    <!-- AWAL NAVBAR -->
    <header class="header">
        <nav>
            <a href="#" class="logo">ZenStore</a>
        </nav>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Kategori</a>
            <a href="#">Pesanan</a>
            <a href="#">About</a>
            <a href="#">Keranjang</a>
        </nav>
    </header>
    <!-- AKHIR NAVBAR -->



    <!-- AWAL WELCOME TEXT -->
    <section class="container-background1">
        <div class="container-background2">
            <h1 class="animasi-text1">WELCOME TO ZENSTORE</h1>
            <p class="welcome">Temukan Ketenangan dalam Berbelanja di ZenStore!</p>
        </div>
    </section>
    <!-- AKHIR WELCOME TEXT -->



    <!-- AWAL CAROUSEL1 -->
    <section class="container-carousel">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary orange planet in space" />
                <img id="slide-2" src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary green planet in space" />
                <img id="slide-3" src="https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary blue planet in space" />
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
        <div class="slider-wrapper-2">
            <div class="slider">
                <img id="slide-1" src="https://images.unsplash.com/photo-1547949003-9792a18a2601?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary orange planet in space" />
                <img id="slide-2" src="https://images.unsplash.com/photo-1513116476489-7635e79feb27?q=80&w=1993&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary green planet in space" />
                <img id="slide-3" src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="3D rendering of an imaginary blue planet in space" />
            </div>
        </div>
    </section>
    <!-- AKHIR CAROUSEL1 -->



        <!-- AWAL KATEGORI PRODUK -->
        <section>
            <div class="container-kategori-1">
                <h1 style="color: #F87060;">KATEGORI PRODUK</h1>
            </div>
            <div class="container-kategori-2">
                <div class="item item-1">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/dcd61dcb7c1448a132f49f938b0cb553_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Elektronik</h1>
                    </a>
                </div>
                <div class="item item-2">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/id-50009109-0bd6a9ebd0f2ae9b7e8b9ce7d89897d6_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Komputer</h1>
                    </a>
                </div>
                <div class="item item-3">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/5230277eefafad8611aaf703d3e99568_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Handphone</h1>
                    </a>
                </div>
                <div class="item item-4">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/04dba508f1ad19629518defb94999ef9_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Pakaian Pria</h1>
                    </a>
                </div>
                <div class="item item-5">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/3c8ff51aab1692a80c5883972a679168_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Sepatu Pria</h1>
                    </a>
                </div>
                <div class="item item-6">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/6d63cca7351ba54a2e21c6be1721fa3a_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Pakaian Wanita</h1>
                    </a>
                </div>
                <div class="item item-7">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/id-50009109-a947822064b7a8077b15596c85bd9303_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Sepatu Wanita</h1>
                    </a>
                </div>
                <div class="item item-8">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/1f18bdfe73df39c66e7326b0a3e08e87_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Aksesoris</h1>
                    </a>
                </div>
                <div class="item item-9">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/2715b985ae706a4c39a486f83da93c4b_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Kecantikan</h1>
                    </a>
                </div>
                <div class="item item-10">
                    <a href="www.elektronik.com" style="text-decoration: none;">
                        <img src="https://down-id.img.susercontent.com/file/42394b78fac1169d67c6291973a3b132_tn" alt="" class="menu-kategori">
                        <h1 class="menu-kategori">Hobi</h1>
                    </a>
                </div>
            </div>
        </section>
        <!-- AWAL KATEGORI PRODUK -->

    

    <!-- AWAL TAMPILAN PRODUK -->
    <section class="products">
        <div class="container">
            <h1 style="color: white;">Produk Terbaru</h2>
            <ul class="list-produk">
                {% for product in products %}   
                    <li class="list-produk">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="list-produk">
                        <h2 class="list-produk">{{ product.name }}</h2>
                        <p class="list-produk">Category: {{ product.category }}</p>
                        <p class="list-produk">Price: Rp{{ product.price }}</p>
                        <a href="{% url 'product_detail' product_id=product.id %}" class="button-product">View Details</a>
                        <!-- Tambahkan detail lainnya sesuai kebutuhan -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <!-- AKHIR TAMPILAN PRODUCT-->



    <h1 class="alamat">Kantor Pusat ZenStore</h2>
    <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15894.248113082938!2d119.43502166159666!3d-5.1739161512510465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee291f084750b%3A0xa4f4abfdff834d4b!2sUniversitas%20Negeri%20Makassar!5e0!3m2!1sid!2sid!4v1713709153170!5m2!1sid!2sid" width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="alamat"></iframe>
    </div>

    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1P5BSm_oFJg?si=PvE8hmD45I0Y8MKL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="youtube"></iframe>
    </div>

    <audio controls autoplay loop class="home">
        <source src="zenstore_audio/song1.mp3" type="audio/mpeg">
    </audio>



    <!-- AWAL FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul class="footer">
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul class="footer">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul class="footer">
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow me</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/ZakyChahyadi"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/its.little.yoda"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/zakychahyadi"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    <!-- AKHIR FOOTER -->



    <!-- AWAL JavaScript -->
    <script>
// Fungsi untuk mengatur interval otomatis untuk carousel pertama
function autoSlide1() {
    const slides = document.querySelectorAll('.slider-wrapper .slider img');
    const navButtons = document.querySelectorAll('.slider-wrapper .slider-nav a');
    let currentSlide = 0;

    function showSlide(n) {
        slides[currentSlide].style.display = 'none';
        navButtons[currentSlide].classList.remove('active');
        currentSlide = (n + slides.length) % slides.length;
        slides[currentSlide].style.display = 'block';
        navButtons[currentSlide].classList.add('active');
    }

    function nextSlide() {
        showSlide(currentSlide + 1);
    }

    setInterval(nextSlide, 5000);

    // Tambahkan event listener untuk penggantian slide manual
    navButtons.forEach((button, index) => {
        button.addEventListener('click', () => {
            showSlide(index);
        });
    });
}

// Panggil fungsi autoSlide1 untuk carousel pertama setelah halaman dimuat
window.addEventListener('load', autoSlide1);

// Fungsi untuk mengatur interval otomatis untuk carousel kedua
function autoSlide2() {
    const slides = document.querySelectorAll('.slider-wrapper-2 .slider img');
    const navButtons = document.querySelectorAll('.slider-wrapper-2 .slider-nav a');
    let currentSlide = 0;

    function showSlide(n) {
        slides[currentSlide].style.display = 'none';
        navButtons[currentSlide].classList.remove('active');
        currentSlide = (n + slides.length) % slides.length;
        slides[currentSlide].style.display = 'block';
        navButtons[currentSlide].classList.add('active');
    }

    function nextSlide() {
        showSlide(currentSlide + 1);
    }

    setInterval(nextSlide, 5000);

    // Tambahkan event listener untuk penggantian slide manual
    navButtons.forEach((button, index) => {
        button.addEventListener('click', () => {
            showSlide(index);
        });
    });
}

// Panggil fungsi autoSlide2 untuk carousel kedua setelah halaman dimuat
window.addEventListener('load', autoSlide2);

      </script>
    <!-- AKHIR JavaScript -->

</body> <!-- AKHIR BODY -->
</html>