<!DOCTYPE html>
<html lang="en">
<head> <!-- AWAL HEAD -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenStore</title>
    <link rel="shortcut icon" href="zenstore_image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="zenstore_image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="templates/styles.css">
</head> <!-- AKHIR HEAD -->

<body> <!-- AWALAN BODY -->
    
    <!-- AWAL NAVBAR -->
    <header class="header">
        <a href="#" class="logo">ZenStore</a>

        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Kategori</a>
            <a href="#">Pesanan</a>
            <a href="#">About</a>
            <a href="#">Keranjang</a>
        </nav>
    </header>
    <!-- AKHIR NAVBAR -->

    <img src="zenstore_image/zenstore_logo2.png" alt="Logo ZenStore" class="logo">
    <h1 class="judul">Welcome To ZenStore</h1>
    <p class="slogan">Temukan Ketenangan dalam Berbelanja di ZenStore!</p>

    <ul class="produk">
        {% for product in products %}
            <li class="produk">
                <h2 class="produk">{{ product.name }}</h2>
                <p class="produk">Category: {{ product.category }}</p>
                <p class="produk">Price: Rp{{ product.price }}</p>
                <a href="{% url 'product_detail' product_id=product.id %}" class="produk">View Details</a>
                <!-- Tambahkan detail lainnya sesuai kebutuhan -->
            </li>
        {% endfor %}
    </ul>

    <h2 class="alamat">Kantor Pusat ZenStore</h2>
    <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15894.248113082938!2d119.43502166159666!3d-5.1739161512510465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee291f084750b%3A0xa4f4abfdff834d4b!2sUniversitas%20Negeri%20Makassar!5e0!3m2!1sid!2sid!4v1713709153170!5m2!1sid!2sid" width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="alamat"></iframe>
    </div>

    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1P5BSm_oFJg?si=PvE8hmD45I0Y8MKL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="youtube"></iframe>
    </div>

    <audio controls autoplay loop class="home">
        <source src="zenstore_audio/song1.mp3" type="audio/mpeg">
    </audio>

    <h2 class="aboutme">About Me</h2>
    <p class="aboutme">Nama saya Muh Zaky Ramadhan Chahyadi, seorang mahasiswa bisnis digital yang bercita-cita menjadi bagian dari industri digital yang berkembang pesat. Tujuan saya adalah memperoleh pengetahuan dan keterampilan dalam tren, teknologi, dan praktik terbaik. Saya bertujuan untuk menciptakan solusi inovatif, dengan fokus pada desain digital, pengalaman pengguna, dan pengembangan perangkat lunak. Saya mencari lingkungan kerja yang inovatif dan kolaboratif serta peluang untuk berkontribusi dalam mengubah cara kita bekerja dan hidup melalui inovasi digital.</p>
    
    <p class="aboutme" style="margin-top: 10px; text-align: center;"><b>Universitas:</b> Universitas Negeri Makassar<br>
    <b>Fakultas:</b> Ekonomi & Bisnis<br>
    <b>Jurusan:</b> Bisnis Digital</p>

</body> <!-- AKHIR BODY -->
</html>